<?xml version="1.0"?>
<launch>
  <!-- Robot Customization -->
  <arg name="arm_id" default="za" doc="Name of the robot to launch"/>

  <arg name="model" default="za.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find za_robot)/rviz/za_robot.rviz" />
  <arg name="load_robot_description" default="true"/>

  <param name="robot_description" if="$(arg load_robot_description)" 
         command="xacro $(find za_description)/urdf/za.xacro prefix:=$(arg arm_id)_"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" output="screen"/>
</launch>
