za_state_controller:
  type: za_control/ZaStateController
  publish_rate: 30  # [Hz]
  arm_id: $(arg arm_id)
  joint_names:
    - $(arg arm_id)_joint_1
    - $(arg arm_id)_joint_2
    - $(arg arm_id)_joint_3
    - $(arg arm_id)_joint_4
    - $(arg arm_id)_joint_5
    - $(arg arm_id)_joint_6

effort_joint_trajectory_controller:
  type: effort_controllers/JointTrajectoryController
  joints:
    - $(arg arm_id)_joint_1
    - $(arg arm_id)_joint_2
    - $(arg arm_id)_joint_3
    - $(arg arm_id)_joint_4
    - $(arg arm_id)_joint_5
    - $(arg arm_id)_joint_6
  gains:
    $(arg arm_id)_joint_1: { p: 1000, d: 300, i: 0 }
    $(arg arm_id)_joint_2: { p: 1200, d: 300, i: 0 }
    $(arg arm_id)_joint_3: { p: 1000, d: 200, i: 0 }
    $(arg arm_id)_joint_4: { p: 300, d: 30,  i: 0 }
    $(arg arm_id)_joint_5: { p: 75, d: 10,  i: 0 }
    $(arg arm_id)_joint_6: { p: 30, d: 3,   i: 0 }
  constraints:
    goal_time: 0.5
    $(arg arm_id)_joint_1: { goal: 0.05 }
    $(arg arm_id)_joint_2: { goal: 0.05 }
    $(arg arm_id)_joint_3: { goal: 0.05 }
    $(arg arm_id)_joint_4: { goal: 0.05 }
    $(arg arm_id)_joint_5: { goal: 0.05 }
    $(arg arm_id)_joint_6: { goal: 0.05 }

cartesian_velocity_controller:
  type: za_controllers/CartesianVelocityController
  arm_id: $(arg arm_id)
  joints:
    - $(arg arm_id)_joint_1
    - $(arg arm_id)_joint_2
    - $(arg arm_id)_joint_3
    - $(arg arm_id)_joint_4
    - $(arg arm_id)_joint_5
    - $(arg arm_id)_joint_6

cartesian_posvel_controller:
  type: za_controllers/CartesianPosVelController
  Kp: 10
  Ko: 1
  arm_id: $(arg arm_id)
  joints:
    - $(arg arm_id)_joint_1
    - $(arg arm_id)_joint_2
    - $(arg arm_id)_joint_3
    - $(arg arm_id)_joint_4
    - $(arg arm_id)_joint_5
    - $(arg arm_id)_joint_6


joint_velocity_controller:
  type: velocity_controllers/JointGroupVelocityController
  joints:
    - $(arg arm_id)_joint_1
    - $(arg arm_id)_joint_2
    - $(arg arm_id)_joint_3
    - $(arg arm_id)_joint_4
    - $(arg arm_id)_joint_5
    - $(arg arm_id)_joint_6